Asignment_1/Asigment1/bin/Debug/net8.0/Asigment1.dll
Asignment_1/Asigment1/bin/Debug/net8.0/Asigment1.dll
Asignment_1/Asigment1/bin/Debug/net8.0/Asigment1.exe
Asignment_1/Asigment1/obj/Debug/net8.0/Asigment1.AssemblyInfo.cs
Asignment_1/Asigment1/obj/Debug/net8.0/Asigment1.AssemblyInfoInputs.cache
/Asignment_1/Asigment1/obj
/Asignment_1/Asigment1/obj/Debug
/Asignment_1/Asigment1/obj/Debug
/Asignment_1/Asigment1/obj/Debug
