@page
@model IndexModel
<link rel="stylesheet" href="~/css/site.css" />
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p> Phone store is building</p>
</div>

